html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
}

header {
  text-align: center;
}

ul li {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  margin: 15px 0;
  border: 2px solid black;
}

h2 {
  text-align: center;
  margin-top: 3rem;
}

.formfields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hr-line {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

hr {
  width: 20vw;
  align-self: center;
}

form {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

fieldset {
  border: none;
}

form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-btn {
  width: 5rem;
  height: 2rem;
  align-self: flex-end;
}

form label {
  display: block;
}

form input {
  margin: 5px 0;
}

button {
  padding: 4px 8px;
  cursor: pointer;
}

#book-list ul li {np
  padding: 10px;
}

#book-list ul li:nth-child(even) {
  background-color: grey;
}
