html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 2px;
}

#navbar nav ul {
  display: flex;
}

#navbar nav ul li {
  padding: 0 8px 0 8px;
}

#navbar nav ul li:nth-child(2){
  border-left: 1px solid black;
  border-right: 1px solid black;
}

header {
  text-align: center;
}

ul li {
  display: flex;
  justify-content: space-between;
}

#book-list ul {
  list-style: none;
  margin: 15px 0;
  border: 2px solid black;
}

h2 {
  text-align: center;
  margin-top: 3rem;
}

.formfields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hr-line {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

hr {
  width: 20vw;
  align-self: center;
}

form {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

fieldset {
  border: none;
}

form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-btn {
  width: 5rem;
  height: 2rem;
  align-self: flex-end;
}

form label {
  display: block;
}

form input {
  margin: 5px 0;
}

button {
  padding: 4px 8px;
  cursor: pointer;
}

#book-list ul li {
  padding: 15px;
}

#book-list ul li:nth-child(even) {
  background-color: grey;
}

#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 5rem;
}

#contact p ul {
  width: 200px;
  list-style-type: disc;
}

footer {
  border: 2px solid black;
  padding: 2px;
  margin-top: 15px;
}